* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  font-family: "Courier Prime", monospace;
  font-family: "Open Sans", sans-serif;
  font-family: "Permanent Marker", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}
